.home-page,
.about-page {
    padding: 2em 0;

    h1 {
        margin-bottom: 0.5em;
    }
}

.not-found-page {
    padding: 4em 0;
    text-align: center;

    h1 {
        font-size: 6rem;
        margin-bottom: 0.25em;
        color: var(--clr-primary);
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 2em;
        color: var(--clr-text-secondary);
    }
}
